@font-face {
    font-family: CustomFont;
    src: url(HomeVideo-Regular.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'CustomFont';
}

body {
    background-color: hsl(228, 100%, 50%);
}

.logo {
    font-size: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0a99ffcf;
    color: #303030;
    width: 100%;
    user-select: none;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

header a {
    text-decoration: none;
    color: #303030;
    font-size: 1.4rem;
}

header a:hover {
    text-decoration: none;
    color: #1d1dff;
    font-size: 1.4rem;
    transition: 1s;
}

h2 {
    text-align: center;
    padding-top: 4rem;
    color: #fff;
}

h3 {
    text-align: center;
    padding-top: 2rem;
    color: #fff;
    user-select: none;
}

.search-bar {
    padding-top: 3vh;
    padding-bottom: 2vh;
    display: grid;
    justify-content: center;
    max-width: 100%;
    position: relative;
}

.search-bar input {
    padding: 10px;
    max-width: 400px;
    border-radius: 15px;
    border: 6px solid #0a99ffcf;
}

.center-roms {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.ccenter-roms {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.center-roms p {
    text-align: center;
    padding-top: 1rem;
}

.roms {
    border-radius: 15px;
    display: inline-block;
    border: 6px solid #0a99ffcf;
    max-width: 90%;
    text-align: left;
    padding: 10px 20px;
    background-color: #ffffff;
    list-style-position: inside;
    text-wrap: nowrap;
    overflow-y: auto;
    text-align: left;
}
.roms a {
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
    font-size: 1rem;
}

.roms a:hover {
    text-decoration: none;
    color: rgb(40, 40, 40);
    padding-bottom: 2px;
    font-size: 1rem;
    transform: 1s ease;
}

.back-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.back {
    border-radius: 15px;
    display: inline-block;
    border: 6px solid #0a99ffcf;
    max-width: 90%;
    padding: 0.5rem 0.7rem;
    background-color: #fff;
    list-style-position: inside;
    text-wrap: nowrap;
    overflow-y: auto;
    text-align: left;
    text-align: center;
}

.back a {
    user-select: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.disclamer {
    display: grid;
    justify-self: auto;
    text-align: center;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    color: white;
}

.disclamer h1 {
    color: red;
    text-align: center;
    padding-bottom: 1rem;
}

.info-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.info {
    border-radius: 15px;
    display: inline-block;
    border: 6px solid #0a99ffcf;
    max-width: 90%;
    text-align: left;
    padding: 10px 20px;
    background-color: #fff;
    list-style-position: inside;
    text-wrap: nowrap;
    overflow-y: auto;
    text-align: left;
}

.info a {
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
    font-size: 1rem;
}

.img-center {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 35%;
    height: auto;
    display: block;
}
